* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

html, body {
  user-select: none;
  -moz-user-select: none; -khtml-user-select: none; user-select: none;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

section {
  padding: 50px 0;
  box-shadow: 0px 3px 4px 0px rgb(119 116 116 / 17%);
}

.title-main {
  text-align: center;
}

.title-h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}

/* header */

.header {
  /* background: linear-gradient(90deg, rgba(255,255,255,0.1207456615458683) -30%, rgba(10,10,10,1) 60%); */
  /* box-shadow: 0px 3px 6px 3px rgb(119 116 116); */
  /* background-image: url("../img/portfolio-7.jpg");
  background-size: cover;
  background-position: top;
  filter: brightness(0.5); */
  position: relative;
}

.header .container {
  /* padding: 100px 0; */
  padding: 300px 0;
}

.header__img {
  background-image: url("../img/portfolio-7.avif");
  background-size: cover;
  background-position: center;
  filter: brightness(0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.header-img {
  width: 300px;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}

.header-title {
  color: white;
  text-align: center;
  /* font-size: 50px; */
  font-size: 80px;
  font-family: Roboto;
  font-weight: 200;
  text-transform: uppercase;
}

.header-description {
  text-align: center;
  color: white;
  text-transform: lowercase;
  /* font-size: 16px; */
  font-size: 24px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list__item {
  margin: 0 20px;
}

.nav__list__link {
  color: #707070;
  position: relative;
  text-transform: lowercase;
  font-size: 20px;
}

.nav__list__link::before {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: #707070;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav__list__link:hover::before {
  width: 100%;
}

/* citation */
.citation {
  padding: 150px 0;
}

.citation .container {
  display: flex;
  align-items: center;
  background: linear-gradient(113deg, rgba(255,255,255,0.1207456615458683) 50%, rgb(166 164 164) 100%);
  border-radius: 10px;
}

.citation__title {
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  margin-right: 150px;
}

.citation__title span {
  display: block;
  font-weight: 300;
  border-bottom: 1px solid;
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.citation__title span:hover {
  color: #868686;
}

.citation__img {
  width: 400px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  filter: brightness(0.9);
}

/* about */

.about {
  background-color: #292929;
  padding: 100px 0;
}

.about__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid white;
}

.about__list-item {
  width: 30%;
  text-align: center;
  color: white;
  height: 220px;
  background: linear-gradient(270deg, rgba(255,255,255,0.1207456615458683) 0%, rgb(10 10 10) 140%);
  border-radius: 10px;
  -moz-background: 4px 4px 2px 0px #000000;
  -webkit-box-shadow: 4px 4px 2px 0px #000000;
  box-shadow: 4px 4px 2px 0px #000000;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__list-item:hover {
  -moz-background: 4px 4px 2px 0px white;
  -webkit-box-shadow: 4px 4px 2px 0px white;
  box-shadow: 4px 4px 2px 0px white;
}

.about__description {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}

/* .portfolio */

.portfolio {
  width: 1080px;
  margin: 0 auto;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__list-item {
  width: 350px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 0.5s ease;
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.portfolio__list-item-click {
  border-radius: 10px;
  border-radius: 10px;
}

.portfolio__list-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 10px;
}

.portfolio__list-item:hover {
  background: #0000000d;
}

.portfolio__img {
  transition: 0.3s;
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.portfolio__list-item:hover .portfolio__img {
  filter: grayscale(0%);
}

.portfolio__video {
  display: none;
  height: 80%;
  width: 80%;
  border-radius: 10px;
}

.portfolio__img-hide {
  display: none;
}

.portfolio__video-show {
  display: block;
  position: fixed;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
}

/* feedback */

.feedback {
  background-color: #292929;
}

.feedback h2 {
  color: white;
  margin-bottom: 10px;
}

.feedback__proof {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.feedback__go_to_vk {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 250px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 4px 0px rgb(255 255 255 / 20%);
  transition: 0.4s;
}

.feedback__go_to_vk:hover {
  background-color: white;
  color: black;
}

.go_to_vk_img {
  margin-left: 10px;
}

.go_to_vk_img

.feedback__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback__list-item {
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-shadow: 4px 4px 5px 1px #000000;
  border-radius: 10px;
  cursor: pointer;
}

.feedback__list-item:hover {
  -moz-background: linear-gradient(90deg, rgba(255,255,255,0.1207456615458683) 0%, rgba(10,10,10,1) 100%);;
  -webkit-background: linear-gradient(90deg, rgba(255,255,255,0.1207456615458683) 0%, rgba(10,10,10,1) 100%);;
  background: linear-gradient(90deg, rgba(255,255,255,0.1207456615458683) 0%, rgba(10,10,10,1) 100%);
}

.feedback__list-item:hover .feedback__img{
  filter: grayscale(0%)
}

.feedback__img {
  background-size: cover;
}

/* .feedback__list-item:nth-child(1) .feedback__img {
  background-image: url(../img/feedback-1.jpg);
}

.feedback__list-item:nth-child(2) .feedback__img {
  background-image: url(../img/feedback-2.jpg);
}

.feedback__list-item:nth-child(3) .feedback__img {
  background-image: url(../img/feedback-3.jpg);
} */

.feedback__img {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  overflow: hidden;
  filter: grayscale(100%)
}

.feedback__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.feedback__title {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
}

/* price */

.price__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1010px;
  margin: 0 auto;
}

.price__list-item {
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #292929;
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.price__list-item:hover {
  background-color: white;
  box-shadow: 0px 0px 5px 0px #29292980;
  color: #292929;
}



.price__list-item span {
  display: block;
  font-size: 20px;
  margin-top: 20px;
}

/* contacts */

.contatcs {
  background-color: #292929;
  color: white;
}

.contatcs__tel{
  display: block;
  text-align: center;
  margin-top: 20px;
}

.contatcs__tel a {
  color: white;
  position: relative;
}

.contatcs__tel a:hover {
  color: #818181;
}

.contatcs__tel a::before {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: #818181;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.contatcs__tel a:hover::before {
  width: 100%;
}

.contatcs__vk svg {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.contatcs__vk {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 250px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 4px 0px rgb(255 255 255 / 20%);
  transition: 0.4s;
  cursor: pointer;
}

.contatcs__vk:hover {
  background-color: white;
  color: black;
}

.slick-slide {
  width: 400px;
  margin: 10px 20px;
}

.call__to__action {
  margin: 200px 0;
}

.call__to__action__title {
  font-size: 35px;
  /* text-transform: uppercase; */
  text-align: center;
  margin-bottom: 5px;
  font-weight: 400;
}

.call__to__action__description {
  text-align: center;
  font-size: 16px;
  margin-bottom: 50px;
}

.call__to__action__link {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 250px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 20%);
  transition: 0.4s;
  background-color: #ffffff;
}

.call__to__action__link:hover {
  background-color: #292929;
  color: white;
}

.call__to__action__vk {
  width: 32px;
  height: 32px;
  margin-left: 20px;
}

.modal__portfolio,
.modal__about {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #292929a8;
}

.modal-show {
  display: flex;
}

.modal__portfolio__box__img {
  width: 600px;
  height: 550px;
  position: relative;
}

.modal__about__box {
  width: 900px;
  position: relative;
}

.modal__about__list {
  display: none;
  flex-wrap: wrap;
  height: 600px;
  overflow-y: scroll;
  position: relative;
}

.modal__about__list::-webkit-scrollbar {
  display: none;
}

.modal__about__list__item {
  width: 33.3%;
  padding: 20px;
}

.modal__portfolio__img,
.modal__about__list__item__img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.modal__about__list__item__img {
  /* height: auto; */
  filter: grayscale(100%);
  transition: 0.3s;
}

.modal__about__list__item__img:hover {
  filter: grayscale(0%);
}

.modal__about__list__item__img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 18px 3px rgb(0 0 0);
}

.modal__portfolio__close,
.modal__about__close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -50px;
  top: -50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal__portfolio__close span,
.modal__about__close span {
  border-radius: 10px;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  transform: rotate(0deg);
  transition: 0.3s;
}

.modal__portfolio__close:hover span,
.modal__about__close:hover span {
  background-color: transparent;
  border: 1px solid white;
  height: 3px;
}

.modal__portfolio__close span:first-child,
.modal__about__close span:first-child {
  transform: rotate(45deg);
}

.modal__portfolio__close span:last-child,
.modal__about__close span:last-child {
  transform: rotate(-45deg);
}

@media(max-width: 1230px) {
  .container {
    width: 768px;
  }

  .citation__title {
    font-size: 25px;
  }

  .citation__img {
    width: 300px;
  }

  .portfolio {
    width: 710px;
  }

  .feedback__title {
    font-size: 16px;
  }

  .feedback__list-item {
    height: 425px;
    width: 300px;
  }

  .slick-slide {
    margin: 10px 20px;
  }

  .price__list {
    width: auto;
  }

  .price__list-item {
    width: 49%;
    font-size: 20px;
  }

  .price__list-item span {
    font-size: 18px;
  }

  .portfolio-video-close {
    width: 30px;
    height: 30px;
  }

  .modal__portfolio__box__img {
    width: 400px;
    height: 370px;
  }

  .modal__about__box {
    width: 800px;
  }

  .modal__about__list {
    height: 500px;
  }

  .modal__about__close {
    right: 50%;
    transform: translateX(50%);
  }
}


@media(max-width: 830px) {
  .container {
    width: 425px;
  }

  .call__to__action {
    margin: 100px 0;
  }

  .call__to__action__title {
    font-size: 29px;
  }

  .header .container {
    padding: 200px 0;
  }

  .header-title {
    font-size: 50px;
  }

  .citation .container {
    position: relative;
    padding: 50px 0;
    background: linear-gradient(115deg, rgba(255,255,255,0.1207456615458683) 50%, rgb(166 164 164) 140%);
  }

  .citation__title {
    margin-right: 0;
    font-weight: 200;
    z-index: 1;
    color: white;
    width: 90%;
    margin: 0 auto;
}

  .citation__img {
    filter: brightness(0.5);
    width: 100%;
    object-fit: cover;
    position: absolute;
    height: 100%;
    border-radius: 10px;
  }

  .about__list {
    flex-direction: column;
  }

  .about__list-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .portfolio {
    width: 80%;
  }

  .portfolio__list-item {
    width: 48%;
    height: 160px;
  }

  .feedback__list {
    flex-direction: column;
  }

  .feedback__list-item {
    width: 100%;
    height: 375px;
    margin-bottom: 30px;
  }

  .price__list-item {
    width: 100%;
    margin-bottom: 30px;
  }

  .modal__portfolio__box__img {
    width: 300px;
    height: 280px;
  }

  .modal__about__box {
    width: 80%;
  }

  .modal__about__list__item {
    width: 49.5%;
  }
}

@media(max-width: 450px) {
  .container {
    width: 300px;
  }

  .call__to__action {
    margin: 70px 0;
  }

  .call__to__action__title {
    font-size: 20px;
    font-weight: 700;
  }

  .call__to__action__description {
    margin-bottom: 30px; 
  }

  .header .container {
    padding: 100px 0;
  }

  .header-description {
    font-size: 16px;
  }

  .nav__list__link {
    font-size: 16px;
  }

  .header-img {
    width: 250px;
  }

  .header-title {
    font-size: 40px;
  }

  .citation {
    padding: 100px 0;
  }

  .citation__title {
    font-size: 20px;
  }

  .portfolio__list-item {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
  }

  .feedback__list-item {
    height: 400px;
  }

  .feedback h2 {
    margin-bottom: 20px;
  }

  .feedback__proof {
    font-size: 14px;
  }

  .price__list-item {
    height: 230px;
  }

  .price__list-item {
    font-size: 17px;
  }

  .price__list-item span {
    font-size: 15px;
    margin-top: 10px;
  }

  .modal__portfolio__box__img {
    width: 290px;
    height: 290px;
  } 

  .modal__portfolio__close {
    right: 50%;
    transform: translateX(50%);
  }

  .modal__about__box {
    width: 90%;
  }
}